*{
	margin:0;
	padding:0;

}
nav{
    background-color: black;
}
.navbar-dark .navbar-nav .nav-item{
	margin: 0 15px;
}
ul li{
    padding: 0 120px;

}
.cover{
    height: 500px;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    padding: 200px 0;

}
