*{
	margin:0;
	padding:0;

}
nav{
    background-color: black;
}
.navbar-dark .navbar-nav .nav-item{
	margin: 0 15px;
}
ul li{
    padding: 0 120px;

}
.cover{
    height: 600px;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
}
 h1{
    font-size:80px;
    text-align: center;
    padding: 200px 0;
    font-family: 'Pacifico', cursive;
    color: white;
    font-weight: 800;

}
